body {
    font-family: "Poppins",;
    background: #eeaeca;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(22,35,50,1) 100%);
    display: flex;
    align-items:center;
    justify-content: center;
}
h1,h2,h3,label{
  color: rgb(0, 0, 0);
}  

  .container {
    width: 62.5em;
    margin-top: 10%;
    text-align: center;
    background: rgb(156, 120, 136);
    border-radius: 6px;
    box-shadow: 0 4px 30px rgba(224, 195, 195, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    border: 1px solid rgba(216, 189, 189, 0.42);
}
 
  .input {
    text-align: center;
    padding: 5px;
    border-radius: 100px;
    border: none;
    background: #eeaeca;
  }

  
  .titulo {
    margin-bottom: 50px;
  }
  
  .recomendado {
    color: rgb(255, 246, 246);
  }
  
  .resultado {
    margin-top: 50px;
  }
  
  .btn {
    border-radius: 100px;
    padding: 5px;
    border-width: 1px;
    background: #eeaeca;
  }
  