@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background: #eeaeca;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(22,35,50,1) 100%);
    display: flex;
    align-items:center;
    justify-content: center;
}
h1,h2,h3,label{
  color: rgb(0, 0, 0);
}  

  .container {
    
    margin-top: 10%;
    text-align: center;
    
}
 
  .input {
    text-align: center;
    padding: 5px;
    border-radius: 100px;
    border: none;
    background: #eeaeca;
  }

  
  .titulo {
    margin-bottom: 50px;
  }
  
  .recomendado {
    color: rgb(255, 246, 246);
  }
  
  .resultado {
    margin-top: 50px;
  }
  
  .btn {
    border-radius: 100px;
    padding: 5px;
    border-width: 1px;
    background: #eeaeca;
  }
  